{% extends 'base.html' %}

{% block content %}

    <h1>{% block title %} Upload Scan {% endblock %}</h1>

    <form method="post" enctype="multipart/form-data" id="file-form">
        
        <div class="form-group">
            <label class="file-form-label">Patient:</label>
            <input type="text" id="patient_name" name="patient_name" value="{{patient.lastname | upper}}, {{(patient.firstname[0].upper() + patient.firstname[1:]) if patient.firstname else patient.firstname}}" readonly class="readonly-field long-text-field">
        </div>
        <div class="form-group">
            <input type="hidden" id="patient_id" name="patient_id" value="{{ patient.patient_id }}" readonly class="readonly-field long-text-field">
        </div>

        <div class="form-group">
            <label for="scanTimestamp">Timestamp:</label>
            <input type="datetime-local" id="scanTimestamp" name="scanTimestamp" value="{{request.form.get('scanTimestamp', '')}}">
        </div>  
        
        <div class="form-group m-0">
            <input type="file" id="scanFile" name="file" class="form-control">
            <label class="file-form-label">Supports NIfTI (.nii.gz), DICOM (.zip of .dcm files) and text (.txt) filetypes</p>
        </div>
    
        <div class="form-group">
            <div class="row form-submit-spinner-row">
                <div class="col-auto d-flex align-items-center">
                    <button type="submit" class="btn btn-primary btn-lg" id="submit-button">Send <i class="fa-solid fa-upload"></i></button>
                </div>
                <div class="col-auto d-flex align-items-center">
                    <div class="spinner" id="spinner"></div>
                </div>
                <div class="col-auto d-flex align-items-center">
                    {% for category, message in get_flashed_messages(with_categories=True) %}
                    <div class="flash-file-alert">
                    {{ message }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
            
    </form>

   

    <a href="{{url_for('patient_scans', patient_id=patient.patient_id)}}">
    <button class="back-to-scans-btn rounded-pill btn btn-light mt-2 border"><i class="fa-solid fa-arrow-left"></i> Back to patient's scans</button>
    </a>

    <script>
        document.getElementById('file-form').addEventListener('submit', function(event) {
            // Show the spinner
            document.getElementById('spinner').style.display = 'block';
            // Hide flash messages
            let alerts = document.getElementsByClassName('flash-file-alert');
            for (let i = 0; i < alerts.length; i++) {
                alerts[i].style.display = 'none';
            }
        });
    </script>


{% endblock %}